
<div  id="home">
  <div class ="container">
  <p id="notice"><%= notice %></p>

  <h1>Facts</h1>

  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr>
          <th>Body</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @facts.each do |fact| %>
          <tr>
            <td><%= fact.body %></td>
            <td><%= link_to 'Show', fact %> - <%= link_to 'Edit', edit_fact_path(fact) %> - <%= link_to 'Destroy', fact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Fact', new_fact_path, class: "btn btn-warning" %>
  </div>
</div>
</div>
